/* потом надо будет отсортировать по местам 
попробую сбросить стили*/

*{
    margin:0;
    padding:0;
}

.middle {
    text-align: center;
}

button.mSectionButton {
    color: #1c1715;
    text-align: center;
}

img.deco {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1.promoHeader {
    color: #f5f5f5;
    text-align: center;
    font-family: 'YesevaOne';
    font-size: 4em;
}

img.decoPromo {
    size: 100%;
    margin-left: 40%;
}

section.promo div {
    width: 100%;
}

h2.UsualHeader {
    color: #ffffff;
    text-align: center;
}

h2.MenuHeader {
    color: #cc9900;
    text-align: center;
}

header {
    background-image: url("E:/РПИ-Фоны-и-др/Bg.png");
    background-size: 100%;
    width: 100%;
    height: 0.33%;
}

section.about {
    background-image: url("E:/РПИ-Фоны-и-др/background.png");
    width: 100%;
}

section.GuestReviews {
    display: flex;
    width: 100%;
    background-image: url("E:/РПИ-Фоны-и-др/bgRev.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 400px;
}

div.aboutbg {
    background-image: url("E:/РПИ-Фоны-и-др/pattern.png");
}

div.aboutdiv {
    display: inline-block;
    width: 50%;
}

section.innerReview {
    text-align: center;
    width: 48.125%;
    height: 73.48%;
    margin: 6.25% 25.9375% 6.25% 25.9375%;
    /* padding-top:6.25%;
    padding-bottom: 6.25%;
    padding-left:25.9375%;
    padding-right: 25.9375%;*/
    background-image: url("E:/РПИ-Фоны-и-др/bgrevText.png");
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 48.125% 73.48% ;*/
}

p.UsualTextDark {
    font-size: 1.0em;
    text-align: center;
    color: #000;
    font-family: 'Lato Regular';
}

p.UsualTextLight {
    font-size: 1.0em;
    text-align: center;
    color: #f0f0f0;
    padding-left: 3%;
    padding-right: 3%;
    font-family: 'Lato Regular';
}

img.aboutdish {
    display: inline-block;
    width: 40%;
}

img.aboutCook {
    width: 20%;
    margin-left: 43%;
}

img.logo {
    width: 5%;
}

a {
    display: inline-block;
    color: #fff;
    text-align: center;
    font-family: 'GentiumBookBasic Gold';
    font-style: normal;
    font-weight: 100;
    font-size: 1.3em;
}

br {
    height: 0%;
}

footer {
    background-color: #191919;
    display:flex;
}

section.footersec {
    width: 23.125%;
    height: 68.125%;
    padding: 3.25% 0.9375% 3.125% 0.9375%;
    text-align: center;  
    /*надо сделать выравнивание по высоте, чтобы заголовки были на одном уровне*/
    display: inline-block;
}

div.container {
    text-align: center;
}

img.footerDiv {
    width: 62.16%;
}

p.ftText {
    font-family: 'OpenSans';
    font-size: 16px;
    color: #fff;
}

h3 {
    color: #fff;
    font-family: 'YesevaOne';
    font-size: 21px;
}

img.bookimg {
    padding-top: 10%;
    padding-left: 5%;
    width: 20%;
}

div.formdiv {
    display: inline-block;
    width: 49%;
    margin: 0%;
}

img.aboutDivider {
    text-align: center;
    width: 30%;
    margin-left: 35%;
}

div.ingimList {
    padding-left: 25%;
    width: 50%;
}

img.ingimage {
    width: 32%;
    display: inline-block;
}

section.ingredients {
    display: flex;
    background-image: url("E:/РПИ-Фоны-и-др/ingbg.png");
    background-repeat: no-repeat;
    /* height: 116.46%;  не считает*/
    /*next time make it with %*/
}

div.ingContent {
    display:block;
    width: 35.625%;
    height: 73.48%;
    margin: 6.25% 13.4375% 6.25% 50.8125%;
    background-image: url("E:/РПИ-Фоны-и-др/bgrevText.png");
}

section.bookFormSection {
    background-image: url("E:/РПИ-Фоны-и-др/pattern.png");
    background-color: #f5f5f5;
}