button.mSectionButton{
    color:#1c1715;
    text-align:center;
}

img.deco{
    align-self: center;
}

h1.promoHeader{
    color: #f5f5f5;
    text-align:center;
    font-family:'YesevaOne';
    font-size:4em;
}

img.decoPromo{
    size: 100%;
    margin-left: 40%;
}

section.promo div{
    width:100%;
}

h2.UsualHeader{
    color:#ffffff;
    text-align:center;
}

h2.MenuHeader{
    color:#cc9900;
    text-align:center;
}

header{
    background-image: url("E:/РПИ-Фоны-и-др/Bg.png");
    background-size: 100%;
    width: 100%;
    height:0.33%;
}

section.about{
    background-image: url("E:/РПИ-Фоны-и-др/background.png");
    width: 100%;
}

section.GuestReviews{
    width:100%;
    background-image: url("E:/РПИ-Фоны-и-др/bgRev.png");
    background-size: 100%;
    background-repeat:no-repeat;
    height:84.8%;
}

div.aboutbg{
    background-image: url("E:/РПИ-Фоны-и-др/pattern.png");
}

div.aboutdiv {
    width:50%;
}

div.innerReview{
    width:50%;
    background-image: url("E:/РПИ-Фоны-и-др/bgrevText.png");
    margin-left:25%;
}

p.UsualTextDark{
    font-size: 1.0em;
    text-align:center;
    color: #000;
    font-family:'Lato Regular';
}

p.UsualTextLight{
    font-size: 1.0em;
    text-align:center;
    color: #f0f0f0;
    font-family:'Lato Regular';
}

img.deco{
    margin-left: 25%;
    width: 50%;
    size: 100%;
}

img.aboutdish{
    width:50%;
}

img.aboutCook{
    margin-left: 50%;
}

img.logo{
    width:0.2%;
}

a{
    color:#fff;
    text-align: center;
    font-family:'GentiumBookBasic Gold';
    font-style: normal;
    font-weight: 100;
    font-size:1.3em;
}