button.mSectionButton{
    color:#1c1715;
    text-align:center;
}

img.deco{
    align-self: center;
}

h1.promoHeader{
    color: #f5f5f5;
    text-align:center;
    font-family:'YesevaOne';
}

h2.UsualHeader{
    color:#ffffff;
    text-align:center;
}

h2.MenuHeader{
    color:#cc9900;
    text-align:center;
}

header{
    background-image: url("E:/РПИ-Фоны-и-др/Bg.png");
}

section.about{
    background-image: url("E:/РПИ-Фоны-и-др/background.png"), url("E:/РПИ-Фоны-и-др/pattern.png");
}

p.UsualTextDark{
    font-size: 1.0em;
    text-align:center;
    color: #000;
    font-family:'Lato Regular';
}

p.UsualTextLight{
    font-size: 1.0em;
    text-align:center;
    color: #f0f0f0;
    font-family:'Lato Regular';
}